body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}
.content {
    display: flex;
    width: 100%;
    height: 50vw;
    align-items: column;
}

#content-svg1 {
    display: block;
    width: 100%;
    height: 100%;
}

#content-svg2 {
    display: block;
    width: 100%;
    height: 100%;
}

#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
}

.filtering_container {
    display:flex;
    justify-content: row;
    align-items: center;
    width: 100%;
}
.range_container{
    width:50%;
    margin:0px;
    padding-right:5%;
    padding-left:5%;
}

.episodeBoxes {
    display:flex;
    align-items: column;
    width:50%;
}

.episodeBoxes label {
    display: block;
    padding: 1%;
}